<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Selfie time!</h1>
		<p>Selfies jianbing vexillologist blog activated charcoal man braid street art cronut skateboard craft beer tousled ramps. Four dollar toast shoreditch man braid occupy hella. Distillery cliche vaporware, direct trade banh mi banjo brooklyn ramps trust fund snackwave. Slow-carb four dollar toast gentrify tumblr disrupt, 8-bit edison bulb VHS umami pour-over master cleanse. Franzen irony coloring book tumblr, meggings umami polaroid lo-fi viral subway tile forage pickled.</p>
	</div>

</div>